html, body
{
	margin: 0px;
	border: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	background-color: #262626;
}

#blocklyDiv {position: absolute;}

#PreView {border-color: gray;}

#toolbox {display: none;}

.blocklyToolboxDiv {background-color: #262626;}
.blocklyFlyoutBackground {fill: #282828;}
.blocklyMainBackground {fill: #2a2a2a !important;}
.blocklyTreeRoot {color: white;}
#blocklyArea
{
	width: 100%;
	height: 100%;
}

#main
{
	width: 100%;
	height: 100%;
	display: flex;
}

#info
{
	padding: 10px;
	color: white;
	font-family: monospace;
	font-size: 1.5em;
}